# data
data/
**/*.csv

# docker
.dockerignore
Dockerfile
docker-compose.yml

# environment variables
.envs/

# git
.git/
.github/
.gitignore

# python
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
.flake8
.venv/

# vscode
.vscode/

# others
**/*.thumbs
**/.DS_Store
Makefile
README.md
